{
  "presets": [[
    "next/babel",
    {
      "preset-env": {
        "useBuiltIns": "entry",
        "corejs": "3.6",
        "loose": true
      },
      "preset-react": {
        "runtime": "automatic",
        "importSource": "theme-ui"
      }
    }
  ]],
  "plugins": ["@emotion"]
}
